@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: green;
    color: antiquewhite;
}

.my-card {
    background-color: white;
    color: black;
    font-size: 45px; 
    font-family: serif;
}

.leter-red {
    color: red;
}

.leter-black {
    color: black;
}

.end {
    transform: rotate(180deg)
}