@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: green;
    color: antiquewhite;
}

.card {
    background-color: white;
    color: black;
    font-size: xx-large;
}

.leter-red {
    color: red;
}

.leter-black {
    color: black;
}